body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.owner {
  width: 100%;
  margin-right: 40px;
}

.first-row {
  display: flex;
}

.selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards img {
  width: 100px;
}

h1 {
  text-align: center;
}

.ComCard {
  border: gray solid;
  width: 600px;
}

textarea {
  resize: none;
}

.scroll {
  width: 1300px;
  height: 200px;
  padding: 10px;
  overflow: hidden;
  overflow-y: scroll;
}
.table {
  width: 100%;
}

@media (max-width: 500px) {
  .iContainer {
    margin-left: 30px;
    width: 340px;
  }

  .textpdf {
    padding: 10;
    width: 320px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 10px;
  }

  .scroll {
    width: 300px;
    height: 300px;
  }
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
